*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    background-color: black;
    overflow-x: hidden;
    
}
header{
    align-items: center;
    background: white;
    box-shadow: 0 2px 6px #0000001f;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-around;
    left: 0;
    max-width: none;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: none;
    transition: transform .2s ease-out;
    width: 100%;
    z-index: 100;
}
header .logo span{
  color: orangered;
}
header nav a{
    position: relative;
    text-decoration: none;
    color: rgb(15, 15, 117);
    padding: 10px 20px;
    cursor: pointer;
}
header nav a::after{
    content: "";
    background-color: orangered;
    border-radius: 10px;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
}
header nav a:hover::after{
    width: 100%;
    right: 0;
}

/*Bannières*/
.Bienvenue{
    top: 54px;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
    border-bottom: 1px solid rgb(187, 184, 184);
}
.Bienvenue div {
    width: 500px;
}
.Bienvenue div button{
    margin-top: 30px;
    background-color: orangered;
    padding: 10px 20px;
    color: white;
    border: 1px solid orangered;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.Bienvenue div button:hover{
   background-color: white;
   color: orangered;
  
}
.Bienvenue div h1{
    color: rgb(15, 15, 117);
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 50px;
}

#propos{
    position: relative;
    background-color: white;
    height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(187, 184, 184);
}
#propos h1{
 
    color: rgb(15, 15, 117);
    width: 250px;
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}
#propos p{
    font-size: 17px;
    font-family: Roboto;
    margin: 20px 0px;
}
#propos ul{
    position: absolute;
    left: 1.5%;
    bottom: 10%;
}
#propos ul li{
    list-style: none;
    text-align: left;
}
#travail{
  
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(187, 184, 184);
}
#travail h1{
 
    color: rgb(15, 15, 117);
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}
#travail h1 + p{
    margin-bottom: 10px;
}
#cv{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(187, 184, 184);
}
#cv h1{
 
    color: rgb(15, 15, 117);
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}
#contact{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(187, 184, 184);
}
#contact h1{
 
    color: rgb(15, 15, 117);
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}
#contact h1 + p{
    margin-bottom: 30px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .container h2 {
    text-align: center;
  }

  .container label {
    display: block;
    margin-bottom: 5px;
  }

  .container input[type="text"],
  .container input[type="email"],
  .container textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .container textarea {
    height: 100px;
  }

  .container input[type="submit"] {
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
  }

  .container input[type="submit"]:hover {
    background-color: #45a049;
  }
/*footer*/
footer{
    background-color: rgb(8, 8, 8);
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;
}